/* .charts {
  width: 60%;
  max-height: 50rem;
  display: flex;
  flex-direction: column;
  margin: 25rem auto;
} */
/* 
.filter {
  width: 10rem;
} */
/* 
.charts {
  max-width: 20%;
  min-height: 20%;
} */
