* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
}

:root {
  --profile-color: #343645;
  --background-color: #eeeeee;
  --dashboard-menu-header: #fff;
}

body {
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.55;
  box-sizing: border-box;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 2rem;
}

.charts {
  width: 60%;
  max-height: 50rem;
  display: flex;
  flex-direction: column;
  margin: 25rem auto;
}
